:root{
    --backgroundColor:#bde0fe30;
    --headerFooterColor:#FFC8DD;
    --sidebarColor:#A2D2FF;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    height:100%;
    width:100%;
}
body{
    display: grid;
    height:100%;
    width:100%;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.05fr;
    grid-template-areas:    'header header'
                            'sidebar todo-content'
                            'footer footer';
    background-color: var(--backgroundColor);
}



.header{
    grid-area: header;
    background-color: var(--headerFooterColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h2{
    font-size: 0.8em;
    position:relative;
    bottom: 12px;
}

.sidebar{
    grid-area:sidebar;
    background-color: var(--sidebarColor);
    overflow-y: auto;
}

.todo-content{
    grid-area:todo-content;
    position: relative;
    overflow-y: auto;
}

.footer{
    grid-area:footer;
    background-color: var(--headerFooterColor);
}

.addTask{
    width:80px;
    height:30px;
    border-radius: 5px;
    border:rgb(230, 230, 159) solid 2px;
    margin:10px;
    background-color: beige;
}

.addTaskArea{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
    top:0;
    position:sticky;
}

.todo-content-container{
    display: grid;
    grid-template-rows: repeat(auto-fit, 400px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.taskForm{
    position:absolute;
    top:0;
    background-color: white;
    height: 500px;
    width: 500px;
    
}

.todoContainer{
    border:2px solid black;
}

#newTaskForm{
    display: flex;
    flex-direction: column;
    padding:0 20% 0 20%;
    align-self: center;
    justify-content: center;
}

.newProjectInputMenu{
    display: flex;
}

#addNewProjectBtn{
    border:none;
    background-color: beige;
}

.sidebar-projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin: 10px 0 0 0;
}

.activeProject{
    background-color: var(--headerFooterColor);
}

.dateSorted,.projectList{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    width:100%;
}
.dateBtn,.projectBtn{
    width:100%;
}

#addNewProjectBtn,.dateBtn,.projectBtn,.activeProject{
    width:80%;
    height:20px;
    border-radius: 5px;
    border:none;
}
